body {
  background-image: url('../img/Jays-lights-GE-REPORT.png');
  color: #ffffff;
}

.btn-large {
  margin-left: 43.2%;
  margin-right: 50%;
  width: 200px;
}

.homepage {
  position: absolute;
  top: 30%;
  left: 48%;
  width: 35.25em;
  margin-top: -6.25em;
  margin-left: -15.625em;
}

.homepage h1 {
  text-align: center;
}

.homepage h3 {
  text-align: center;
}
