body {
  background-image: url('../img/Jays-lights-GE-REPORT.png');
  color: #ffffff;
  font-family: 'Alegreya', serif;
}

.slide {
  padding-top: 1.5em;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #004d40;
  display: flex;
  text-align: center;
  flex-direction: column;
  transition: opacity 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contact {
  background-color: #311b92;
}

.contact a {
  text-decoration: none;
  color: #ffffff;
}

.contact a:hover {
  color: #aaaaaa;
}

.aboutMe {
  background-color: #aeea00;
}

.selected {
  cursor: crosshair;
}

.selected:hover {
  color: #aaaaaa;
}

.btn-large {
  margin-left: 43.2%;
  margin-right: 50%;
  width: 200px;
}

.homepage {
  position: absolute;
  top: 30%;
  left: 48%;
  width: 35.25em;
  margin-top: -6.25em;
  margin-left: -15.625em;
}

.homepage h1 {
  text-align: center;
}

.homepage h3 {
  text-align: center;
}

.projects {
  background-color: #01579b;
}

.pic {
  width: 313px;
  height: 200px;
  background-size: cover;
}

.projPic1 {
  background-image: url('../img/proj1.png')
}

.projPic2 {
  background-image: url('../img/proj2.png')
}

.projPic3 {
  background-image: url('../img/proj3.png')
}
